/* makes it very aesthetic ✨ and demure ✨ like the kiddies say nowadays or something */

body {
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
    color:red;
}

#stupidAssImage {
    text-align: center;
    width: 90%;
    height: 150px;
}

#stupidFuckingMoyaiImage {
    height:100%;
    width:100%;
}

#moyaiButton {
    margin-left: auto;
    margin-right: auto;
    height:100px;
    width:200px;
}

#moyaiClicker {
    display: flex;
    width: 100%;
    text-align: center;
}

#moyaiInfo {
    margin-left: auto;
    margin-right: auto;
    display: block;
}